<h2 mat-dialog-title class="m-0 pb-0" *ngIf="student">
  Edit Student #{{ student.id }}
</h2>
<h2 mat-dialog-title class="m-0 pb-0" *ngIf="!student">Add Student</h2>
<form [formGroup]="studentFormGroup">
  <mat-dialog-content class="mat-typography py-0">
    <table class="w-100 m-0">
      <tr>
        <td>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Name:</mat-label>
            <input
              matInput
              type="text"
              formControlName="name"
              placeholder="Name"
            />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Telephone:</mat-label>
            <input
              matInput
              type="tel"
              formControlName="phoneNumber"
              placeholder="Phone Number"
            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <mat-label> Date Of Birth:</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="dateOfBirth"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="w-100">
            <mat-label>Academic Program:</mat-label>
            <mat-select formControlName="academicProgramId">
              <mat-option [value]="1">Cybersecurity</mat-option>
              <mat-option [value]="2">Business Administration</mat-option>
              <mat-option [value]="3">Nursing</mat-option>
              <mat-option [value]="4">Social Services</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <br />
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close type="button">Cancel</button>
    <button
      mat-raised-button
      mat-dialog-close
      type="button"
      (click)="save()"
      color="primary"
    >
      Save
    </button>
  </mat-dialog-actions>
</form>
